/* card style */
.card .card-header {
    background-color: #ffffff;
    padding: 0;
}

.project-card {
  padding: 30px;
  margin: 20px;
  border: 2px solid #7e9d7b!important;
  display: inline-block!important;
}

.project-links {
  color: #4181ad!important;
}

a:hover {
  color: #3c625f!important;
}

/* image style */
img .project-image {
  border: 1px solid #4181ad!important;
}

.crop {
  width: 350px;
  height: 350px;
  border: 1px solid #4181ad!important;
  object-fit: cover;
  overflow: hidden;
}
.crop img {
  margin: 10px 0px 0px 0px;
  width: 90%;
}

/* These rules take effect when the browser's width
  is either 768px or less. */
@media screen and (max-width: 768px) {
  .crop {
    width: 100%!important;
    height: 100%!important;
    border: 1px solid #4181ad!important;
    object-fit: cover;
    overflow: hidden;
  }
  .crop img {
    margin: 10px 0px 0px 0px;
    width: 90%;
  }
}